/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

/* Font styling */
h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;

}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700; 
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
}

/* Hero Section */
.hero {
  background: url(../img/bg-1.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100vh; 
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
  color: white;
}

.logo {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 32.68px;
  font-weight: 700;
  
}

ul, li, a {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 10%;
}



/* Media Queries untuk Responsivitas */
@media (max-width: 1024px) {
  h1 {
      font-size: 6vw;
  }
  h2 {
      font-size: 4vw;
  }
  h3 {
      font-size: 2.5vw;
  }
  section {
      min-height: 80vh; /* Sesuaikan tinggi di tablet */
  }
}

@media (max-width: 768px) {
  h1 {
      font-size: 8vw;
  }
  h2 {
      font-size: 5vw;
  }
  h3 {
      font-size: 3vw;
  }
  section {
      min-height: 70vh;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 10vw;
  }
  h2 {
      font-size: 6vw;
  }
  h3 {
      font-size: 4vw;
  }
  section {
      min-height: 60vh;
  }
}
